<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Weather</title>
  <!-- Bootstrap CSS -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<link rel="stylesheet" href="/css/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!-- Hero -->
  <section class="et-hero-tabs">
    <h1>Get your weather</h1>
    <h3>Simple and fast</h3>
    <div class="et-hero-tabs-container">
      <a class="et-hero-tab" href="#tab-search">Search</a>
      <a class="et-hero-tab" href="#tab-about">About</a>
      <a class="et-hero-tab" href="#tab-help">Help</a>
      <span class="et-hero-tab-slider"></span>
    </div>
  </section>

  <!-- Main -->
  <main class="et-main">
    <section class="et-slide" id="tab-search">
      <div id="cover">
        <form method="get" action="">
          <div class="tb">
            <div class="td"><input type="text" placeholder="Location" required></div>
            <div class="td" id="s-cover">
              <button type="submit">
                <div id="s-circle"></div>
                <span></span>
              </button>
            </div>
          </div>
        </form>
      </div>
      <p id="message-1"></p>
      <p id="message-2"></p>  
    </section>
    <section class="et-slide" id="tab-about">
      <h2>This site was created by Pascu Augustin</h2>
      <h3>APIs from:</h3>
      <p>mapbox.com</p>
      <p>weatherstack.com</p>
    </section>
    <section class="et-slide" id="tab-help">
      <h2>Contact</h2>
      <h3>pascuc97c@gmail.com</h3>
    </section>
  </main>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script><script  src="js/script.js"></script>
  
</body>
</html>
